@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.main-container {
  @apply max-w-[1200px] mx-auto px-4;
}
.nav-link {
  @apply text-base font-normal text-white;
}
.footer-links-title {
  @apply text-lg font-medium  uppercase text-[#434648] mb-5;
}
.footer-link {
  @apply self-center text-base font-normal text-[#434648];
}
.hero-gradient {
  background: linear-gradient(
    180deg,
    #0085ff 17.92%,
    rgba(0, 133, 255, 0) 100%
  );
  backdrop-filter: blur(2px);
}
.btn-shadow {
  box-shadow: 0px 4px 50px rgba(1, 168, 255, 0.3);
}
.card-shoadow {
  box-shadow: 0px 8px 40px rgba(60, 63, 63, 0.1);
}
.sold-bg {
  background: radial-gradient(50% 50% at 50% 50%, #ffe875 0%, #f8b725 100%);
}
.stock-bg {
  background: radial-gradient(50% 50% at 50% 50%, #ffe875 0%, #fbd04d 100%);
}
.winner-bg {
  background: linear-gradient(
    180deg,
    rgba(0, 133, 255, 0.4) 0%,
    rgba(0, 133, 255, 0) 100%
  );
  backdrop-filter: blur(2px);
}
.th-heading {
  @apply text-left text-base font-medium text-[#434648] py-6 px-4 min-w-[160px];
}
.td-data {
  @apply text-base font-normal text-[#434648] py-4 px-4 border-b min-w-[160px];
}

.timer-box {
  @apply flex justify-center text-2xl font-semibold text-[#434648] items-center w-16 h-16 md:w-28 md:h-28 rounded-full mb-3 border border-[#1F95D5];
}
.timer-hour {
  @apply text-lg md:text-2xl font-semibold text-[#434648] text-center flex justify-center;
}
.compain-end-timer {
  @apply text-white font-medium lg:font-semibold text-lg lg:text-2xl block px-1.5 py-1 lg:px-3 lg:py-3 rounded-lg bg-[#01A8FF];
}

.play-box {
  position: relative;
}
.play-box::after {
  content: '';

  @apply absolute h-[2px] w-[200px] left-[80px] top-1/2 border border-dashed border-[#01a8ff];
}
.vertical-line {
  display: none;
}
#compaigns {
  background: rgba(0, 133, 255, 0.4);
  backdrop-filter: blur(2px);
}
@media only screen and (max-width: 768px) {
  .play-box::after {
    content: '';
    display: none;
  }
  .vertical-line {
    display: block;
    position: relative;
  }
  .vertical-line::after {
    content: '';
    position: absolute;
    height: 60px;
    width: 2px;
    left: 50%;
    bottom: -80px;
    border: 1px dashed #01a8ff;
  }
}
/* slider */
.slick-slider {
  overflow: hidden;
}
.slick-dots li {
  height: 65px !important;
}
.slick-dots li button:before {
  font-size: 14px !important;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #01a8ff !important;
}
